.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}

.navbarContainer h3 {
  font-size: 40px;
  font-family: Cambria;
  color: burlywood;
}

.listContainer {
  display: flex;
  list-style: none;
  gap: 100px;
}

.listContainer li {
  font-size: 15px;
  font-family: Verdana;
  color: burlywood;
  text-decoration: none;
  transition: all 0.3s ease;
}

.listContainer li:hover {
  color: aliceblue;
}
