.imgNotFound {
  border: none;
  width: 25%;
  height: 25%;
  margin-left: 38%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  font-family: Cambria;
  color: red;
}

h2 {
  font-size: 25px;
  font-family: Cambria;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonNotFound {
  font-size: 30px;
  font-family: Georgia;
  margin-left: 5px;
  color: burlywood;
  background-color: brown;
  border-color: burlywood;
  border: solid 2px;
  cursor: pointer;
}

.buttonNotFound:hover {
  color: brown;
  background-color: burlywood;
  border-color: brown;
}
